/* Sidebar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  width: 20vw;
  height: 100vh;
  padding-top: 1.4rem;
  padding-left: 1.8rem;

  background-color: #f7f7f7;
}

.icon-div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.icon-text {
  font-size: 1.1rem;
}

.sidebar-ul {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding-top: 2rem;
  padding-left: 0.6rem;
}

.sidebar-ul > div {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.sidebar-ul > div > i {
  cursor: pointer;
}

.sidebar-ul > div:last-child {
  position: relative;
}

.fa-inbox {
  color: #246fe0;
}

.fa-calendar {
  color: #058527;
}

.fa-rectangle-history {
  color: #692fc2;
}

.fa-plus {
  font-size: 1.1rem;
  font-weight: 400;
  position: absolute;
  right: 8px;
  transition: color 0.2s;
}

.fa-plus:hover {
  color: #692fc2;
}

.sidebar-li {
  list-style: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  transition: all 0.2s;
}

.sidebar-li:hover,
.modal-buttons > button:hover {
  transform: translateY(-3px);
}

/* Project Modal */
.main-section {
  display: flex;
  width: 100vw;
  transition: all 0.2s;
}

.background-opacity {
  background: rgba(0, 0, 0, 0.35);
}

.modal-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 auto;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in, visibility 0.2s ease-out;
  z-index: -1;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.3rem;
  min-width: 30rem;
  min-height: 12rem;
}

.modal > h3 {
  margin-bottom: 1.2rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.modal > label {
  margin-bottom: 0.4rem;
  font-weight: 400;
}

.modal > input {
  padding: 0.4rem 0.8rem;
  border: 1px solid #ced4da;
  border-radius: 0.4rem;
}

.modal > input:focus {
  outline: none;
  border: 1px solid #ff3c00d2;
}

.modal-buttons {
  display: flex;
  justify-content: end;
  gap: 0.6rem;
  margin-top: 1.4rem;
}

.modal-buttons > button:first-child:hover {
  background-color: #ff3c00d2;
  color: #fff;
}

.modal-buttons > button:last-child:hover {
  background-color: #058527;
  color: #fff;
}

.modal-buttons > button {
  cursor: pointer;
  padding: 0.6rem 0.8rem;
  border: none;
  border-radius: 0.4rem;
  transition: all 0.2s;
}

.hidden {
  opacity: 1;
  visibility: visible;
  z-index: 1000; /* Ensure it stays on top when visible */
}

.project-div {
  display: flex;
  margin: 1rem 0.4rem 1.2rem 3.2rem;
  transition: all 0.2s;
  padding: 0.1rem;
  border-radius: 2px;
}

.project-div > span {
  cursor: pointer;
  margin-left: 0.2rem;
}

.project-div:hover {
  background-color: #fff;
}

.filled-input {
  border-color: #058527 !important;
}
